.outerbox{
  display: grid;
  grid-template-columns: repeat(2, 50%);
  background: black;
  color: white;
  padding-top: 7.5%;
}
.projectimage{
  padding-left: 20%;
  perspective: 1000px;
  position: relative;
  padding-bottom: 10%;
}
.projectimage img{
  height: 300px;
  width: 400px;
  object-fit:fill;
  border: 2px solid burlywood;
  transform: rotateY(20deg) rotateX(10deg); 
  transition: transform 0.5s ease;
}
.projectimage img:hover{
  transform: rotateY(0deg) rotateX(0deg); 
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
}
.project{
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
}
.project h2{
  color: burlywood;
}
.project a {
  background-color: white;
  border-radius: 20%;
}
@media (max-width: 850px) {
  .projectimage img {
      height: 250px;
      width: 300px;
  }
  .projectimage{
      padding-top: 25%;
      padding-left: 10%;
  }
  .project{
    padding: 5%;
  }
  .outerbox{
      padding-top: 12.5%;
  }
}