.navbar{
    display: flex;
    flex-direction: row;
    gap: 35px;
    position: fixed;
    background-color: burlywood;
    height: 75px;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    position: fixed;
}
.parth{
    flex: 3;
    padding-left: 5%;
}
.resume{
    padding-right: 5%;
}
a:link, a:visited, a:active {
    color: black;
    text-decoration: none;
}
.linkedin, .github, .projects, 
.about, .resume,.parth{
    transition: transform(0.2);
}
.linkedin:hover, .github:hover, 
.projects:hover, .about:hover, 
.resume:hover, .parth:hover{
    transform: scale(1.2);
}